<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE xml>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 
  <display-name>DesignerNail</display-name>
   <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>EmailSend</servlet-name>
		<servlet-class>com.example.DesignerNail.SendEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailSend</servlet-name>
		<url-pattern>/email/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServicesServlet</servlet-name>
		<servlet-class>com.example.DesignerNail.ServicesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServicesServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookingServlet</servlet-name>
		<servlet-class>com.example.DesignerNail.BookingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BookingServlet</servlet-name>
		<url-pattern>/bookings/*</url-pattern>
	</servlet-mapping>
</web-app>

